<h1>Posts</h1>
<table>
    <tr>
        <th>Título</th>
        <th>URL imagen</th>
        <th>Contenido</th>
        <th>Fecha de creación</th>
    </tr>
    <% @posts.each do |post| %>
        <tr>
            <td><%= post.title %></td>
            <td><%= image_tag post.image_url %></td>
            <td><%= post.content %></td>
            <td><%= post.created_at %></td>
        </tr>
    <% end %>
</table>
<hr>
<h2>Ingrese su post</h2>
<form class="form" method="get" action="posts/create" id="create_posts">
    Titulo: <input name="titulo">    
    Url Imagen: <input name="url_img">
    Contenido: <textarea name="contenido"></textarea>
    <input type="submit" value="Enviar">
</form>
    
